.header {
    width: 100% !important;
    max-width: 400px !important;
    margin-bottom: 20px !important;
    padding: 20px !important;
    border-radius: 10px !important;
    background-color: #0062cc !important;
    color: #ffffff !important;
    text-align: center !important;
    border-bottom: 3px solid #004c99 !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15) !important;
    margin-bottom: 40px !important;
}

.header h1 {
    margin: 0 !important;
    padding-bottom: 10px !important;
    font-size: 30px !important;
    font-weight: bold !important;
}

.header h2 {
    margin: 0 !important;
    font-size: 22px !important;
    color: white !important;
    font-weight: normal !important;
}

.sign-up-container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
    background-color: #282c34 !important;
    padding: 20px !important;
}

.sign-up-form {
    width: 100% !important;
    max-width: 400px !important;
    padding: 40px !important;
    background-color: #f7f7f7 !important;
    border-radius: 8px !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12) !important;
}

.sign-up-form label {
    display: block !important;
    margin-bottom: 5px !important;
    font-weight: 600 !important;
    color: #333 !important;
}

.sign-up-form input {
    width: 100% !important;
    padding: 10px !important;
    margin-bottom: 20px !important;
    border-radius: 5px !important;
    border: 1px solid #ccc !important;
    box-sizing: border-box !important;
}

.primary-action-button {
    width: 100% !important;
    padding: 10px !important;
    border: none !important;
    border-radius: 5px !important;
    background-color: #0088cc !important;
    color: white !important;
    font-size: 16px !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
}

.login-redirect-button {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    font-size: 1rem !important;
    margin-top: 20px !important;
    display: block !important;
}

.login-redirect-button:hover {
    text-decoration: underline !important;
    background: none !important;
    box-shadow: none !important;
}

.Error {
    color: #c00 !important;
    background-color: #fee !important;
    border: 1px solid #d32f2f !important;
    padding: 1rem 0 !important;
    margin: 1rem 0 !important;
    border-radius: 8px !important;
    font-size: 1rem !important;
    text-align: center !important;
    max-width: 600px !important;
    width: 100% !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    animation: fadeIn 0.5s ease-in-out !important;
}

@keyframes fadeIn {
    from { opacity: 0 !important; }
    to { opacity: 1 !important; }
}
