
.header {
    width: 100%;
    max-width: 400px; /* Match the width of the form */
    box-sizing: border-box; /* Includes padding in the width */
    margin-bottom: 20px; /* Space between header and form */
    padding: 20px;
    border-radius: 10px;
    background-color: #0052cc; /* Change to match your theme */
    color: #ffffff;
    text-align: center;
    border-bottom: 2px solid #003d99; /* Darker shade for some contrast */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    margin-bottom: 40px; /* Space between header and form */
  }
  
  .header h1 {
    margin: 0;
    padding-bottom: 10px; /* Space between company name and label */
    font-size: 28px; /* Large text for company name */
    font-weight: bold;
  }
  
  .header h2 {
    margin: 0;
    font-size: 20px; /* Smaller text for page title */
    font-weight: normal; /* Less emphasis compared to company name */
  }
  
  

  .sign-up-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers vertically */
    align-items: center; /* Centers horizontally */
    height: 100vh;
    background-color: #282c34;
    padding: 20px; /* Add padding to prevent content from touching the edges */
  }
  
  
  .sign-up-form {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }
  
  .sign-up-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #333;
  }
  
  .sign-up-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .primary-action-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0052cc;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .primary-action-button:hover {
    background-color: #003d99;
  }
  
  .login-redirect-button {
    background: none;
    border: none;
    color: #007bff;
    padding: 0;
    font-size: 1rem;
    margin-top: 20px; /* Add some space between the buttons */
    display: block; /* Ensure it's displayed as a block for proper spacing */
  }
  
  .login-redirect-button:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .Error {
    color: #d32f2f;
    background-color: #f9eaea;
    border: 1px solid #d32f2f;
    padding: 1rem 0;
    margin: 1rem 0; /* Top and bottom margin */
    border-radius: 8px;
    font-size: 1rem;
    text-align: center;
    max-width: 600px; /* Maximum width for the error message */
    width: 100%; /* Full width of the container */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  