.centered {
    justify-content: center !important;
}

.viewWorkoutsHeader {
    width: 100% ;
    max-width: 250px;
    min-height: 160px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff !important;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
    border: none;
    margin: 10px;
    overflow: hidden;
}

.sessionInfoText {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #424242;
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
}

.backButton {
    width: auto;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: normal;
    background-color: #ff6b6b; /* Vibrant color for interactive elements */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    align-self: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
}

.backButton:hover, .backButton:focus {
    background-color: #e53e3e; /* Darker shade for interaction */
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.WorkoutSelector, .WorkoutSelecter {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    padding: 8px 12px;
    background-color: #ffffff; /* Consistent background for form elements */
    border: 1px solid #ddd; /* Light grey border for subtle definition */
    border-radius: 4px;
    outline: none;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

.WorkoutSelector:focus, .WorkoutSelecter:focus {
    border-color: #0056b3; /* Primary color for focus state */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.autocomplete-field {
    position: relative; /* Necessary for absolute positioning of suggestions */
}

.autocomplete-suggestions {
    position: absolute;
    z-index: 1000;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    background-color: #ffffff; /* Matching the primary background */
    border: 1px solid #ddd; /* Consistent with other form elements */
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
}

.suggestion-item {
    padding: 8px 12px;

    cursor: pointer;
    font-size: medium;
    list-style-type:none; /* No bullets for list items */
    background-color: white; /* Ensure readability */
    color: black; /* Text color for suggestions */
}

.suggestion-item:hover, .suggestion-item:focus {
    background-color: #f7f7f7; /* Light grey for hover/focus state */
}
