.workoutContainer {
    display:flex;    
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 700px;
    padding: 12px 20px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s;
  }
  
  .workoutContainer:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
  
  .workoutItem {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #333333;
    line-height: 1.5;
    margin: 0 10px;
  }
  
  .deleteButton {
    background-color: #ff6b6b;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
  }
  
  .deleteButton:hover {
    background-color: #ff5252;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    
  }
  
  .deleteButton:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 107, 107, 0.5);
  }
  

  .timer {
    background-color: green;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
  }
  
  .timer:hover {
    background-color: darkgreen;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .timer:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 107, 107, 0.5);
  }
  