.myFeedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .myFeedNavBar {
    width: 100%; 
  }
  
  .myFeedContent {
    width: 50%;
    max-width: 1200px; 
  }
  